html {
  height: 100vh;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

canvas {
  margin-top: 10px;
}

#box {
  margin-top: 100px;
  height: 360px;
  width: 360px;
  background: #222;
  /* box-shadow: 0px 0px 3.5px 2px rgba(0, 0, 58, 0.445); */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#video {
  height: 100%;
  width: auto;
}
